<p-panel header="Pipes basicos" [showHeader]="true" class="p-1">
  <p>
    Pipes included in the common module
  </p>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-6">
    <p-card header="uppercase">
      {{ nameLower | uppercase }}
    </p-card>
  </div>
  <div class="col-12 md:col-6">
    <p-card header="lowercase">
      {{ nameUpper | lowercase }}
    </p-card>
  </div>
  <div class="col-12 md:col-6">
    <p-card header="titlecase">
      {{ fullName | titlecase}}
    </p-card>
  </div>
  <div class="col-12 md:col-6">
    <p-card header="titlecase">
      {{ fullName | titlecase}}
    </p-card>
  </div>
  <div class="col-12 md:col-6">
    <p-card header="formats">
      <ol>
        <li>{{ customDate }}</li>
        <li>Fecha pipe</li>
        <li>Fecha pipe short</li>
        <li>Fecha pipe long</li>
        <li>Fecha MES</li>
        <li>customDate | date:'MMMM dd, yyyy'</li>
      </ol>
      <hr>
      <ol>
        <li>customDate | date:'long':'GMT-5'</li>
        <li>customDate | date:'long':'GMT-6'</li>
      </ol>
    </p-card>
  </div>
  <div class="col-12 md:col-6">
    <p-card header="Date">
      <ol>
        <li>{{ customDate }}</li>
        <li>{{ customDate | date}}</li>
        <li>{{ customDate | date:'short' }}</li>
        <li>{{ customDate | date:'long' }}</li>
        <li>{{ customDate | date:'MMMM' }}</li>
        <li>{{ customDate | date:'MMMM dd, yyyy' }}</li>
      </ol>
      <hr>
      <ol>
        <li>{{ customDate | date:'long':'GMT-5'}}</li>
        <li>{{ customDate | date:'long':'GMT-6'}}</li>
      </ol>

    </p-card>
  </div>
</div>
